@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    height: 530px;
    width: 500px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.image-container {
    display: flex;
    transform: ;
}

img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    width: 49.5%;
    background-color: rebeccapurple;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}