@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

input {
    font-family: inherit;
    background-color: #eaedf6;
    width: 50vw;
    margin: 20px 0;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

input:focus {
    outline: none;
}

main {
    width: 50vw;
    border: 2px solid rgba(27, 31, 36, 0.15);
    border-radius: 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.details {
    margin-left: 20px;
    text-align: left;
}

.list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: -40px;
    justify-content: space-between;
}

.list li {
    display: flex;
    align-items: center;
}
