@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --tertiary-color: #afb8c1;
}

/* html {
    transition: all 0.5s ease-in;
} */
  
html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
    --tertiary-color: #fff;
}
  
html.dark {
    background-color: #111;
    color: var(--primary-color);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#mode {
    background-color: #fff;
    border: 1px solid rgba(27, 31, 36, 0.15);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

input {
    font-family: inherit;
    background-color: #eaedf6;
    width: 50vw;
    margin: 20px 0;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

input:focus {
    outline: none;
}

main {
    width: 50vw;
    border: 1px solid var(--tertiary-color);
    border-radius: 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 2px solid var(--tertiary-color);
}

.details {
    margin-left: 20px;
    text-align: left;
}

.list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: -40px;
    justify-content: space-between;
}

.list li {
    display: flex;
    align-items: center;
}

.list2 {
    display: flex;
    list-style-type: none;
    margin-left: -40px;
}

.repo {
    margin-right: 30px;
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid var(--tertiary-color);
}

h1 {
    margin-bottom: -10px;
}

@media (max-width: 1000px) {

    #mode {
        top: 7%;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list2 {
        flex-wrap: wrap;
    }

    .repo {
        margin: 10px;
    }

}