@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* border: 1px solid black; */
    font-family: "Roboto Mono", sans-serif;
    background-color: #247ba0;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    /* border: 1px solid black; */
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.counter {
    font-size: 50px;
    padding: 10px;
}

@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .container {
        margin: 20px 0px;
    }

    .counter {
        font-size: 30px;
        padding: 5px;
    }
}