@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Press Start 2P", sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #516dff;
    color: #fff;
}

button.start {
    font-family: inherit;
    border: none;
    font-size: 15px;
    padding: 15px 20px;
    color: rgb(81, 109, 255);
    cursor: pointer;
}

button.start:hover {
    opacity: 0.9;
}

button.start:active {
    transform: translateY(5px);
}

.img {
    height: 100px;
    width: 100px;
}

.screen.up {
    margin-top: -200vh;
}

.insects-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img {
    object-fit: contain;
}

ul li {
    margin: 10px;
}

button.select {
    border: 2px solid white;
    background-color: transparent;
    height: 200px;
    width: 200px;
    color: #fff;
    font-size: 15px;
    font-family: "Press Start 2p", sans-serif;
}

button.select:hover {
    background-color: #fff;
    color: #516dff;
}

#time {
    position: absolute;
    top: 20px;
    left: 20px;
}

#score {
    position: absolute;
    top: 20px;
    right: 20px;
}

.screen.game-container {
    position: relative;
}

.message {
    font-size: 15px;
    line-height: 2;
    width: 100vw;
    padding: 20px;
    z-index: 100;
    background-color: rgba( 0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    text-align: center;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: transform 0.3s ease;
}

.message.visible {
    transform: translate(-50%, 150%);
    opacity: 1;
}

.insect {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    position: absolute;
    /* top: 400px;
    left: 500px; */
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out;
}

.insect.caught {
    transform: translate(-50%, -50%) scale(0);
}

.insect img {
    width: 100px;
    height: 100px;
}

