@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid black; */
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #ffcbbc;
}

.container {
    border: 3px solid white;
    width: 350px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
}

.container .content {
    opacity: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    transition: opacity 0.4s ease;
}

.container .content.show {
    opacity: 1;
}

nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: -5px;
}

nav ul {
    background-color: white;
    display: flex;
    list-style-type: none;
    height: 60px;
    padding: 0;
    margin: 0;
}

nav li {
    text-align: center;
    cursor: pointer;
    flex: 1;
    padding: 10px;
    color: #9d9d9d;
}

.desc {
    font-size: 12px;
    margin-top: 2px;
}

nav li.active, 
nav li:hover {
    color: #e900ff;
}   