@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* border: 1px solid black; */
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    border: 1px solid black;
    width: 320px;
}

.part1 {
    background-color: #3e57db;
    color: #fff;
    padding: 10px 0px 30px 20px;
}

#title {
    font-size: 17px;
}

#note {
    /* border: 1px solid black; */
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: -15px;
}

#input {
    border: none;
    padding: 10px 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    border-radius: 40px;
    font-size: 15px;
}

#input:focus {
    outline: none;
}