@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #045256;
    color: #fff;
}

#container {
    text-align: center;
    width: 800px;
}

textarea {
    height: 100px;
    border-radius: 5px;
    border: none;
    display: block;
    width: 100%;
    margin
}

#tags {
    margin-top: 25px;
}

.tag {
    border: none;
    padding: 10px;
    border-radius: 100px;
    color: #000;
    background-color: #ddf7f8;
    margin: 10px;
}