* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid white; */
}

.square {
    height: 15px;
    width: 15px;
    background-color: #1d1d1d;
    margin: 2px;
    transition: 2s ease;
}

.square:hover {
    transition-duration: 0s;
}